@model ScrumpingLMS.Models.ScheduleDay

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer för schema</h2>

<div>
    <h4>ScheduleDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klass.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klass.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @{var text = Model.Details;}
            @Html.Raw(@text)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("admin"))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    }
     @Html.ActionLink("Back to List", "Index")
</p>
