@model ScrumpingLMS.Models.ScheduleDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScheduleDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klass.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klass.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
    @using (Html.BeginForm("Upload", "ScheduleDays", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <div>
                <input type="file" name="UploadTheFile" value="UploadTheFile" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>



    }
</div>
<p>
    @if (User.IsInRole("lärare")) {
       @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    }
    @Html.ActionLink("Tillbaka till schemaöversikt", "Index")
</p>
