@model IEnumerable<ScrumpingLMS.Models.ScheduleDay>

@{
    ViewBag.Title = "Index";
}

<h2>Kursschema</h2>

<h3>Idag: @DateTime.Now.ToString("yyyy-MM-dd")</h3>

<table class="table">
    <tr>
        <th>
            <!--@Html.DisplayNameFor(model => model.Klass.Name)-->
            Klass
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.DayNumber)-->
            Dag
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.Details)-->
            Detaljer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Klass.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayNumber)
        </td>
        <td>
            @{var text = item.Details;}
            @Html.Raw(@text)
        </td>
        <td>
@if (User.IsInRole("admin"))
    {
            @Html.ActionLink("Ändra", "Edit", new { id=item.Id }) } |    
                                                                                                                                                                                                                                              
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
