@model IEnumerable<ScrumpingLMS.Models.ScheduleDay>

@{
    ViewBag.Title = "Index";
}

<h2>Kursschema</h2>

<h3>Idag: @DateTime.Now.ToString("yyyy-MM-dd")</h3>

@if (User.IsInRole("admin")) {
    <div class="form-group">
        @*@Html.LabelFor(model => model.KlassId, "Klass", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.DropDownList("KlassId", null, htmlAttributes: new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.KlassId, "", new { @class = "text-danger" })*@
        </div>
    </div>
}   
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Klass.Name)
        </div>
 
        <div class="col-md-3">
              @Html.DisplayNameFor(model => model.DayNumber)
        </div>
        <div class="col-md-3">
              @Html.DisplayNameFor(model => model.Details)
          </div>
        <div class="col-md-3">
            &nbsp;
        </div>    

@Html.Partial("_ScheduleList", Model)


